*{
    margin: 0;
    padding: 0;
}
nav{
    border: 2px solid black;
    background-color:#343A40;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
}
li{
    padding: 20px 10px
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

@media screen and (max-width:620px){
    nav,ul{
        flex-direction: column;
        align-items: center;
    }
}

/*NavBar css ends here*/
section{
    font-family: Arial, Helvetica, sans-serif;
    width: 75vw;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}
figure{
    width: 300px;
    border: 1px solid #ccc;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 3px rgb(104,104,104);
    transition: 100ms;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
}
figure img{
    height: 200px;
    width: 100%;
}
figcaption button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #eee;
  border-radius: 10px;
  background:none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
figcaption button:hover{
    background: lightslategray;
    color:white;
    cursor: pointer;
}
figure:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    }